@inherits UmbracoViewPage<BlogPostModel>
@{
    Layout = "Master.cshtml";
}
<div class="container main-content-area">

    <div class="cat-title">
        <ul class="post-categories">
            <li><a href="/@Model.Category" rel="category tag">@Model.Category</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="main-content-inner col-sm-12 col-md-8 side-right">

            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">

                    <article id="post-555" class="post-555 post type-post status-publish format-gallery has-post-thumbnail hentry category-post-formats tag-gallery tag-post-formats tag-shortcode post_format-post-format-gallery">
                        <div class="blog-item-wrap">
                            <div class="post-inner-content">
                                <header class="entry-header page-header">
                                    <h1 class="entry-title">@Model.Title</h1>

                                    <div class="entry-meta">
                                        <span class="posted-on">
                                            Posted on
                                            <a href="@Model.Url" rel="bookmark">
                                                <time class="entry-date published" datetime="@Model.CreateDate">
                                                    @Model.CreateDate.ToString("MMMM dd, yyyy")
                                                </time>
                                                <time class="updated" datetime="@Model.CreateDate">
                                                    @Model.CreateDate.ToString("MMMM dd, yyyy")
                                                </time>
                                            </a>
                                        </span>

                                    </div><!-- .entry-meta -->
                                </header><!-- .entry-header -->

                                @if (!string.IsNullOrEmpty(Model.MainImageUrl))
                                {
                                    <a href="@Model.Url" title="@Model.Title">
                                        <img width="1170" height="550" src="@Model.MainImageUrl" class="single-featured wp-post-image" alt="@Model.Title image" scale="0">
                                    </a>
                                }

                                <div class="entry-content">
                                    @Html.Raw(Model.BlogPostContent)


                                    <div class="sharedaddy sd-sharing-enabled">
                                        <div class="robots-nocontent sd-block sd-social sd-social-icon-text sd-sharing">
                                            <h3 class="sd-title">Share this:</h3>
                                            <div class="sd-content">
                                                <ul>
                                                    <li>
                                                        <div class="fb-like" data-href="@Model.UrlWithDomain"
                                                             data-width="10" data-layout="button_count" data-action="like" data-size="small"
                                                             data-show-faces="false" data-share="false"></div>
                                                    </li>

                                                    <li class="share-pinterest">
                                                        <a rel="nofollow" data-shared="sharing-pinterest-555" class="share-pinterest sd-button share-icon"
                                                           href="@(string.Format("http://www.pinterest.com/pin/create/button/?url={0}&amp;media={1}&amp;description={2}",
                                                                HttpUtility.UrlEncode(Model.UrlWithDomain), string.Format("{0}{1}", Model.UrlWithDomain.Replace(Model.Url, ""), Model.MainImageUrl), Html.Raw(Model.BlogPostContent)))" target="_blank" title="Click to share on Pinterest">
                                                            <i class="social_icon fa fa-pinterest">
                                                                <span>Pinterest</span>
                                                            </i>
                                                        </a>
                                                    </li>

                                                    <li class="share-facebook">
                                                        <a rel="nofollow" data-shared="sharing-facebook-555" class="share-facebook sd-button share-icon" href="@(string.Format("http://www.facebook.com/sharer.php?u={0}", HttpUtility.UrlEncode(Model.UrlWithDomain)))" target="_blank" title="Click to share on Facebook">

                                                            <i class="social_icon fa fa-facebook">
                                                                <span>Facebook</span>
                                                            </i>
                                                        </a>
                                                    </li>
                                                    <li class="share-twitter">
                                                        <a rel="nofollow" data-shared="sharing-twitter-555" class="share-twitter sd-button share-icon" href="@(string.Format("http://twitter.com/share?url={0}&amp;text={1}", HttpUtility.UrlEncode(Model.UrlWithDomain), Model.Title))" target="_blank" title="Click to share on Twitter">

                                                            <i class="social_icon fa fa-twitter">
                                                                <span>Twitter</span>
                                                            </i>
                                                        </a>
                                                    </li>

                                                    <li class="share-print">
                                                        <a rel="nofollow" data-shared="" class="print sd-button share-icon" href="javascript:void(0)" target="_blank" title="Click to print">

                                                            <i class="social_icon fa fa-print">
                                                                <span>Print</span>
                                                            </i>
                                                        </a>
                                                    </li>
                                                    <li class="share-end">
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>


                                    @if (Model.RelatedPosts.Any())
                                    {
                                        <div id="jp-relatedposts" class="jp-relatedposts" style="display: block;">
                                            <h3 class="jp-relatedposts-headline"><em>Related</em></h3>
                                            <div class="jp-relatedposts-items jp-relatedposts-items-visual">

                                                @foreach (var post in Model.RelatedPosts)
                                                {
                                                    <div class="jp-relatedposts-post jp-relatedposts-post0 jp-relatedposts-post-thumbs" data-post-id="1011" data-post-format="false">
                                                        <a class="jp-relatedposts-post-a" href="@post.Url" title="@post.Title" data-origin="555" data-position="0">
                                                            <img class="jp-relatedposts-post-img" src="@post.MainImageUrl" width="213" alt="@post.Title main image" height="121" scale="1.5">
                                                        </a>
                                                        <h4 class="jp-relatedposts-post-title">
                                                            <a class="jp-relatedposts-post-a" href="@post.Url" title="@post.Title" data-origin="555" data-position="0">
                                                                @post.Title
                                                            </a>
                                                        </h4>
                                                        <p class="jp-relatedposts-post-excerpt">This post should display a featured image, if the theme supports it. Non-square images can provide some unique styling issues.</p>
                                                        <p class="jp-relatedposts-post-date">@post.CreateDate.ToString("MMMM dd, yyyy")</p><p class="jp-relatedposts-post-context">In "@post.Category"</p>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div><!-- .entry-content -->
                                @*<div class="entry-footer">

                                        <!-- tags -->
                                        <div class="tagcloud">

                                            <a href="https://colorlib.com/activello/tag/gallery/">gallery</a> <a href="https://colorlib.com/activello/tag/post-formats/">Post Formats</a> <a href="https://colorlib.com/activello/tag/shortcode/">shortcode</a>
                                        </div>
                                        <!-- end tags -->
                                    </div><!-- .entry-footer -->*@
                            </div>
                        </div>
                    </article><!-- #post-## -->

                    <nav class="navigation post-navigation" role="navigation">
                        <h1 class="screen-reader-text">Post navigation</h1>
                        <div class="nav-links">

                            @if (Model.PreviousPost != null)
                            {
                                <div class="nav-previous">
                                    <a href="@Model.PreviousPost.Url" rel="prev">
                                        <i class="fa fa-chevron-left"></i>
                                        @Model.PreviousPost.Title
                                    </a>
                                </div>
                            }

                            @if (Model.NextPost != null)
                            {
                                <div class="nav-next">
                                    <a href="@Model.NextPost.Url" rel="next">
                                        @Model.NextPost.Title
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </div>
                            }
                        </div><!-- .nav-links -->
                    </nav>

                </main><!-- #main -->
            </div><!-- #primary -->
            <div id="disqus_thread"></div>
            <script>

                var disqus_config = function () {
                    this.page.url = "@Model.UrlWithDomain";
                    this.page.identifier = "@Model.Id";
                };

                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = '//http-traveladdiction-net.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        </div>

        @{Html.RenderPartial("_Sidebar"); }
    </div><!-- close .*-inner (main-content or sidebar, depending if sidebar is used) -->
</div>