@using Umbraco.Web.Mvc;
@inherits UmbracoViewPage<HomeModel>
@{
    Layout = "Master.cshtml";
}
<div class="top-section">
    @if (Model.SliderBlogPosts.Any())
    {
        <div class="flexslider" style="height: 396px;">
            <ul class="slides">
                @foreach (var sliderPost in Model.SliderBlogPosts)
                {
                    <li>
                        <img src="@sliderPost.MainImageUrl" class="attachment-activello-slider size-activello-slider wp-post-image" alt="@sliderPost.Title slider image" scale="0" draggable="false">
                        <div class="flex-caption">
                            <ul class="post-categories">
                                <li><a href="/@sliderPost.Category" rel="category tag">@sliderPost.Category</a></li>
                            </ul>
                            <a href="@sliderPost.Url">
                                <h2 class="entry-title">@sliderPost.Title</h2>
                            </a>
                            <div class="read-more">
                                <a href="@sliderPost.Url">Read More</a>
                            </div>
                        </div>
                    </li>

                }
            </ul>
            <ul class="flex-direction-nav">
                <li class="flex-nav-prev">
                    <a class="flex-prev" href="#"></a>
                </li>
                <li class="flex-nav-next">
                    <a class="flex-next" href="#"></a>
                </li>
            </ul>
        </div>
    }
</div>

<div class="container main-content-area">
    <div class="row">
        <div class="main-content-inner col-sm-12 col-md-8 side-right">

            <div id="primary" class="content-area">

                <main id="main" class="site-main page-1" role="main">

                    @{ Html.RenderPartial("_PostsListWithPaging", new BaseModel(), new ViewDataDictionary()
                    {
                       { "Items", Model.AllBlogPosts }
                    }); }

                </main><!-- #main -->
            </div><!-- #primary -->

        </div>

        @{ Html.RenderPartial("_Sidebar"); }
    </div>
</div>