@inherits UmbracoTemplatePage
@{
    Layout = null;
    var home = @CurrentPage.Site();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@CurrentPage.siteDescription">
    <title>@CurrentPage.Name | @CurrentPage._siteTitle</title>

    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Merriweather:400,700,300,900" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">

    @*<link rel="stylesheet" type="text/css" href="/css/fanoe.css">*@
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @*<header>
            <div class="container">
                <div class="row">
                    <div class="col-xs-8 col-sm-12 col-md-4">
                        <a href="@home.Url">
                            <div class="brand" style="background-image:url('@(home.SiteLogo)?height=65&width=205&bgcolor=000')"></div>
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <nav>
                            @{ Html.RenderPartial("MainNavigation"); }
                        </nav>
                    </div>
                </div>
            </div>
            <div id="toggle" class="toggle">
                <a href="#" class="cross"><span></span></a>
            </div>
        </header>*@
    <header id="masthead" class="site-header" role="banner">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="site-navigation-inner col-sm-12">
                        <div class="navbar-header">
                            <button type="button" class="btn navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul id="menu-all-pages" class="nav navbar-nav">
                                <li id="menu-item-1696" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1696 active"><a title="Home" href="https://colorlib.com/activello/">Home</a></li>
                                <li id="menu-item-1639" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1639 dropdown">
                                    <a title="About The Tests" href="#" data-toggle="dropdown" class="dropdown-toggle">About The Tests </a>
                                    <ul role="menu" class=" dropdown-menu">
                                        <li id="menu-item-1803" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1803"><a title="Page Markup And Formatting" href="https://colorlib.com/activello/about/page-markup-and-formatting/">Page Markup And Formatting</a></li>
                                        <li id="menu-item-1640" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1640"><a title="Clearing Floats" href="https://colorlib.com/activello/about/clearing-floats/">Clearing Floats</a></li>
                                        <li id="menu-item-1641" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1641"><a title="Page with comments" href="https://colorlib.com/activello/about/page-with-comments/">Page with comments</a></li>
                                        <li id="menu-item-1642" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1642"><a title="Page with comments disabled" href="https://colorlib.com/activello/about/page-with-comments-disabled/">Page with comments disabled</a></li>
                                        <li id="menu-item-1646" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1646"><a title="Lorem Ipsum" href="https://colorlib.com/activello/lorem-ipsum/">Lorem Ipsum</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-1643" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1643 dropdown">
                                    <a title="Level 1" href="#" data-toggle="dropdown" class="dropdown-toggle">Level 1 </a>
                                    <ul role="menu" class=" dropdown-menu">
                                        <li id="menu-item-1644" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1644"><a title="Level 2" href="https://colorlib.com/activello/level-2/">Level 2</a></li>
                                        <li id="menu-item-1645" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1645"><a title="Level 3" href="https://colorlib.com/activello/level-3/">Level 3</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-1813" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1813"><a title="Shop" href="https://colorlib.com/activello/shop/">Shop</a></li>
                            </ul>
                        </div>
                        <div class="nav-search">
                            <form action="https://colorlib.com/activello/" method="get"><input type="text" name="s" value="" placeholder="Search"><button type="submit" class="header-search-icon" name="submit" id="searchsubmit" value="Search"><i class="fa fa-search"></i></button></form>
                        </div>
                    </div>
                </div>
            </div>
        </nav><!-- .site-navigation -->


        <div class="container">
            <div id="logo">
                <h1 class="site-name">
                    <a class="navbar-brand" href="https://colorlib.com/activello/" title="Activello Theme Demo" rel="home"><img width="207" height="28" src="https://cdn.colorlib.com/activello/wp-content/uploads/sites/10/2015/11/logo.png" class="attachment-full size-full" alt="logo" scale="0">					</a>
                </h1><!-- end of .site-name -->

                <div class="tagline">Just another colorlib.com site</div>
            </div><!-- end of #logo -->

        </div>

    </header>

    @RenderBody()

    @*<footer class="field dark">
            <div class="container">
                <div class="row">
                    @{ Html.RenderPartial("BottomNavigation"); }
                </div>
            </div>
        </footer>*@

    <div id="footer-area">
        <footer id="colophon" class="site-footer" role="contentinfo">
            <div class="site-info container">
                <div class="row">
                    <div class="copyright col-md-12">
                        @{ Html.RenderPartial("BottomNavigation"); }
                    </div>
                </div>
            </div><!-- .site-info -->
            <div class="scroll-to-top" style="display: block;"><i class="fa fa-angle-up"></i></div><!-- .scroll-to-top -->
        </footer><!-- #colophon -->
    </div>

    <!-- Javascripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    @*<script src="/scripts/fanoe.js"></script>*@
</body>
</html>