@inherits UmbracoViewPage<TravelBlog.Models.ContactRequestModel>
@using TravelBlog.Controllers;

@{
    Layout = null;
}

@using (Html.BeginUmbracoForm<ContactFormController>("Submit", null,
                                                        new { @class = "contact" }, FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <div class="col-md-12 contact-form">
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Name, new { placeholder = "Your name", required = "required" })
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Your email", required = "required", email = true })
        </div>

        <div class="col-md-12">
            @Html.TextBoxFor(m => m.Subject, new { placeholder = "Subject", required = "required" })
        </div>
        <div class="col-md-12">
            @Html.TextAreaFor(m => m.Message, new { placeholder = "Message", cols = 5, required = "required" })
        </div>

        <div class="col-md-12">
            <input type="submit" name="Submit" value="Send" />
        </div>
    </div>
}