@inherits UmbracoTemplatePage
@using System.Web.Optimization
@{
    var homePageModel = Model.Content.AncestorOrSelf(1);

    var siteDescription = CurrentPage.GetPropertyValue(HomeDocumentTypeConsts.SiteDescription,
            homePageModel.GetPropertyValue(HomeDocumentTypeConsts.SiteDescription));

    var keywords = CurrentPage.GetPropertyValue(HomeDocumentTypeConsts.SiteKeywords,
    homePageModel.GetPropertyValue(HomeDocumentTypeConsts.SiteKeywords));
}

    <!-- Meta tags -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" itemprop="description" content="@siteDescription">
<meta name="author" content="traveladdiction.net">
<meta name="keywords" itemprop="keywords" content="@keywords" />

<link rel="shortcut icon" href="favicon.ico">

<link rel="canonical" href="@CurrentPage.UrlWithDomain()" />
<meta property="og:site_name" content="Travel Addiction" />
<meta property="og:title" content="Travel Addiction" />
<meta property="og:description" content="@siteDescription" />

<meta property="og:url" content="http://traveladdiction.net/" />
<meta property="og:type" content="website" />
<meta property="fb:app_id" content="196847964056366" />

<title>@CurrentPage.Name | @CurrentPage._siteTitle</title>
<!-- Fonts -->
<!-- CSS -->
@Styles.Render("~/bundles/css")

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->


<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-88071314-1', 'auto');
    ga('send', 'pageview');

</script>

<!-- Google Tag Manager -->
@*<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MCJZC4G');</script>*@
<!-- End Google Tag Manager -->
