@inherits UmbracoViewPage<BlogPostModel>

<article itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="post type-post status-publish format-gallery has-post-thumbnail hentry category-post-formats tag-gallery tag-post-formats tag-shortcode post_format-post-format-gallery">
    <div itemprop="item" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" class="blog-item-wrap">
        <div class="post-inner-content">
            <header class="entry-header page-header">
                @if (!string.IsNullOrEmpty(Model.Category))
                {
                    <p class="cat-item cat-item-38">
                        <a href="/@Model.Category.Replace(" ", "-")" title="Posts with @Model.Category as category">@Model.Category</a>
                    </p>
                }

                <h2 class="entry-title" itemprop="name">
                    <a href="@Model.Url" rel="bookmark">
                        @Model.Title
                    </a>
                </h2>

                <div class="entry-meta">
                    <span class="posted-on">
                        Posted on <a href="@Model.Url" rel="bookmark">
                            <time itemprop="datePublished" class="entry-date published" datetime="@Model.CreateDate.ToString("yyyy-MM-dd")">
                                @Model.CreateDate.ToString("MMMM dd, yyyy")
                            </time>
                            <time itemprop="dateModified" class="updated" datetime="@Model.ModifiedDate.ToString("yyyy-MM-dd")">
                                @Model.ModifiedDate.ToString("MMMM dd, yyyy")
                            </time>
                        </a>
                    </span>

                </div><!-- .entry-meta -->
            </header><!-- .entry-header -->

            @if (!string.IsNullOrEmpty(Model.MainImageUrl))
            {
                <a href="@Model.Url" title="@Model.Title">
                    <img itemprop="image" width="1170" height="550" src="@Model.MainImageUrl" class="single-featured wp-post-image" alt="@Model.Title image" scale="0">
                </a>
            }

            <div class="entry-content">
                <p itemprop="description">@Model.Summary</p>

                <div class="read-more">
                    <a href="@Model.Url" title="@Model.Title">Read More</a>
                </div>

            </div>
        </div>

        <meta itemprop="url" content="@Model.UrlWithDomain">
        <meta itemprop="author" content="Travel Addiction">
    </div>
</article>
