@inherits UmbracoTemplatePage
@using TravelBlog.Data
@{
    var homePageModel = Model.Content.AncestorOrSelf(1);

    var aboutUsTitle = CurrentPage.GetPropertyValue(HomeDocumentTypeConsts.AboutMeTitle,
        homePageModel.GetPropertyValue(HomeDocumentTypeConsts.AboutMeTitle));

    var aboutUsText = CurrentPage.GetPropertyValue(HomeDocumentTypeConsts.AboutMeText,
        homePageModel.GetPropertyValue(HomeDocumentTypeConsts.AboutMeText));

    var facebookLink = homePageModel.GetPropertyValue(HomeDocumentTypeConsts.FacebookLink);
    var twitterLink = homePageModel.GetPropertyValue(HomeDocumentTypeConsts.TwitterLink);
    var pinterestLink = homePageModel.GetPropertyValue(HomeDocumentTypeConsts.PinterestLink);
    var youtubeLink = homePageModel.GetPropertyValue(HomeDocumentTypeConsts.YoutubeLink);
    var instagramLink = homePageModel.GetPropertyValue(HomeDocumentTypeConsts.InstagramLink);

    var aboutUsImage = Methods.GetImage(homePageModel.GetPropertyValue<int>(HomeDocumentTypeConsts.AboutMeImage));

    var latestPosts = homePageModel
    .Descendants(DocumentTypesConsts.BlogPost)
    .OrderByDescending(x => x.CreateDate)
    .Take(3);

    var categories = homePageModel
    .Descendants(DocumentTypesConsts.Category)
    .OrderByDescending(x => x.Children.Count())
    .ToList();
}

<div id="secondary" class="widget-area col-sm-12 col-md-4" role="complementary">
    <div class="inner">
        <aside id="text-2" class="widget widget_text">
            <h3 class="widget-title">@aboutUsTitle</h3>
            <div class="textwidget">
                <p><img src="@aboutUsImage" alt="@aboutUsTitle" scale="0"></p>
                <p>@Html.Raw(aboutUsText) </p>
            </div>
        </aside><aside id="activello-social-2" class="widget activello-social">
            <h3 class="widget-title">Follow Me</h3>
            <!-- social icons -->
            <div class="social-icons sticky-sidebar-social">
                <nav id="social" class="social-icons">
                    <ul id="menu-social-items" class="social-menu">
                        <li id="menu-item-1734" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1734">
                            <a href="@facebookLink">
                                <i class="social_icon fa">
                                    <span>Facebook</span>
                                </i>
                            </a>
                        </li>
                        <li id="menu-item-1735" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1735">
                            <a href="@twitterLink" onclick=">
                                <i class="social_icon fa">
                                    <span>Twitter</span>
                                </i>
                            </a>
                        </li>
                        <li id="menu-item-1736" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1736">
                            <a href="@youtubeLink">
                                <i class="social_icon fa"><span>youtube</span></i>
                            </a>
                        </li>

                        <li id="menu-item-1738" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1738">
                            <a href="@instagramLink">
                                <i class="social_icon fa"><span>Instagram</span></i>
                            </a>
                        </li>
                        <li id="menu-item-1739" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1739">
                            <a href="@pinterestLink">
                                <i class="social_icon fa"><span>Pinterest</span></i>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div><!-- end social icons -->


        </aside>
        <aside id="activello_recent_posts-2" class="widget activello-recent-posts">
            <h3 class="widget-title">Recent Posts</h3>
            <!-- recent posts -->
            <div class="recent-posts-wrapper">

                @foreach (var post in latestPosts)
                {
                    <div class="post">

                        <!-- image -->
                        <div class="post-image gallery">

                            <a href="https://colorlib.com/activello/post-format-gallery/">
                                <img src="@Methods.GetImage(post.GetPropertyValue<int>(PostDocumentTypeConsts.MainImage))" class="attachment-thumbnail size-thumbnail wp-post-image"
                                     alt="@post.Name" />

                            </a>

                        </div> <!-- end post image -->
                        <!-- content -->
                        <div class="post-content">

                            <a href="@post.Url">@post.Name</a>
                            <span class="date">- @post.CreateDate.ToString("dd MMM, yyyy")</span>

                        </div><!-- end content -->
                    </div><!-- end post -->
                }

            </div> <!-- end posts wrapper -->

        </aside><aside id="search-2" class="widget widget_search">
            
        <form role="search" method="get" class="form-search" action="https://colorlib.com/activello/">
                <div class="input-group">
                    <label class="screen-reader-text" for="s">Search for:</label>
                    <input type="text" class="form-control search-query" placeholder="Search…" value="" name="s" title="Search for:">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default" name="submit" id="searchsubmit" value="Search">Search</button>
                    </span>
                </div>
            </form>



        </aside>
        <aside id="activello-cats-2" class="widget activello-cats">
            <h3 class="widget-title">Categories</h3>

            <div class="cats-widget">

                <ul>
                    @foreach (var category in categories)
                    {
                        <li class="cat-item cat-item-38">
                            <a href="@category.Url" title="Posts in this category @category.Name.">@category.Name</a> <span> @category.Children.Count()</span>
                        </li>
                    }

                </ul>

            </div><!-- end widget content -->

        </aside><aside id="blog_subscription-2" class="widget jetpack_subscription_widget">
            <h3 class="widget-title">Subscribe to Blog via Email</h3>
            <form action="#" method="post" accept-charset="utf-8" id="subscribe-blog-blog_subscription-2">
                <div id="subscribe-text">
                    <p>Enter your email address to subscribe to this blog and receive notifications of new posts by email.</p>
                </div><p>Join 5 other subscribers</p>
                <p id="subscribe-email">
                    <label id="jetpack-subscribe-label" for="subscribe-field-blog_subscription-2" style="clip: rect(1px 1px 1px 1px); position: absolute; height: 1px; width: 1px; overflow: hidden;">
                        Email Address
                    </label>
                    <input type="email" name="email" required="required" class="required" value="" id="subscribe-field-blog_subscription-2" placeholder="Email Address">
                </p>

                <p id="subscribe-submit">
                    <input type="hidden" name="action" value="subscribe">
                    <input type="hidden" name="source" value="https://colorlib.com/activello/">
                    <input type="hidden" name="sub-type" value="widget">
                    <input type="hidden" name="redirect_fragment" value="blog_subscription-2">
                    <input type="submit" value="Subscribe" name="jetpack_subscriptions_widget">
                </p>
            </form>

            <script>
                /*
                Custom functionality for safari and IE
                 */
                (function (d) {
                    // In case the placeholder functionality is available we remove labels
                    if (('placeholder' in d.createElement('input'))) {
                        var label = d.querySelector('label[for=subscribe-field-blog_subscription-2]');
                        label.style.clip = 'rect(1px, 1px, 1px, 1px)';
                        label.style.position = 'absolute';
                        label.style.height = '1px';
                        label.style.width = '1px';
                        label.style.overflow = 'hidden';
                    }

                    // Make sure the email value is filled in before allowing submit
                    var form = d.getElementById('subscribe-blog-blog_subscription-2'),
                        input = d.getElementById('subscribe-field-blog_subscription-2'),
                        handler = function (event) {
                            if ('' === input.value) {
                                input.focus();

                                if (event.preventDefault) {
                                    event.preventDefault();
                                }

                                return false;
                            }
                        };

                    if (window.addEventListener) {
                        form.addEventListener('submit', handler, false);
                    } else {
                        form.attachEvent('onsubmit', handler);
                    }
                })(document);
            </script>

        </aside><aside id="text-3" class="widget widget_text">
            <h3 class="widget-title">Follow Me on Instagram</h3>
            <div class="textwidget">
                <iframe src="https://snapwidget.com/embed/290089" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:330px; height:330px "></iframe>
            </div>
        </aside>

        <!-- SnapWidget -->
        @*<aside id="text-4" class="widget widget_text">
                <h3 class="widget-title">This Theme Is AdSense Ready</h3>			<div class="textwidget">
                    <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6200795649377457" data-ad-slot="3169571723" data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </aside>*@
    </div>
</div>